body {
  background: linear-gradient(217deg, pink, orange);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #5e8d9b 3px;
  border-style: solid;
  height: 100vh;
  margin: 0;
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro h1 {
  color: #5e8d9b;
  background-color: white;
  border-radius: 16px;
}

#inputbox {
  border: none;
  padding: 0 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro h1 {
  color: #5e8d9b;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
}

#inputbox {
  border: none;
  padding: 0 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#messages {
  padding: 0.5rem 1rem;
  background: #efefef;
}

#chatArea {
  background-color: white;
  width: 90vw;
  height: 60vh;
  border-radius: 16px;
  border: 2px red;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 0px 20px 10px 20px;
  background-color: white;
  border: 3px black;
  border-radius: 16px;
  width: 30vw;
  margin-bottom: 20px;
}

.login input {
  width: auto;
  margin-bottom: 10px;
  border-radius: 16px;
  height: 2.5vh;
}

.login button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4vw;
  width: 7vw;
  border-radius: 16px;
}

.login h3 {
  text-align: left;
}

.align-left {
  width: 90vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: transparent;
}

.text-on-right {
  background-color: #222;
  width: 40vw;
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  border-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(red), to(rgba(0, 0, 0, 0))) 1 100%;
     border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
}

.text-on-right p {
  color: #c2baba;
  font-size: 1.5vw;
}

.align-center {
  text-align: center;
  color: green;
}

.notifications {
  width: 97vw;
  height: 6vh;
  background-color: white;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 16px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=app.css.map */