//Override
//$body-bg: #f0f0f0;
$font-family: "poppins";

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin:0;
    overflow-x:hidden;
    background-color:#f0f0f0 ;
    font-family: 'poppins';
    font-weight: 400;

  }

.responsive-section-row {
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content:center;

}

.responsive-section-col {
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}



.responsive-p{
    li{
        font-size: 1.3vw;
    }
}



#intro{
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items:center;
    flex-direction: row;
    width:100vw;
    background-color: #f19f4d;
    margin-bottom: 2%;

    h1{
        color:white;
        border-radius: 12px;
        font-size: 2vw;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

#inputbox {
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem;
    outline:none;
}
#input:focus { 
    outline: none;
 }

 #form > button { background: #333; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff; 
}

#form {
    background: rgba(0,0,0,0.15);
    padding: 0.25rem;
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
    display: flex;
    height:3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    outline:none;
}

#messages { 
    padding: 0.5rem 1rem;  
    background: linear-gradient(to left, #ece9e6, #ffffff); 
}

#chatArea{
    background: linear-gradient(107deg, rgba(255,255,255,1) 0%, rgba(243,228,250,1) 100%, rgba(0,212,255,1) 100%);
    width: 50vw;
    box-shadow: 5px 10px #888888a9;
    max-width: 600px;
    height:60vh;
    border-radius: 16px;
    border: 2px #e58560;
    border-style:double;
    overflow:scroll;
}

.hero1{
    display:flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    padding:0 2% 0 2%;
    background-color: rgb(179, 224, 226);

    div{
        width:50%;
    }
}

.wrapping-header{
    width:50%;
    h1{
        font-size:5vh;
    }

    .kchatapphead{
        font-size:14vh;
        font-weight: bolder;
        animation: enter-hero1 1.5s ease-in-out forwards;
        opacity:0%;
    }

    .tryyoutext{
        animation:enter-hero1 1.5s ease-in-out forwards;
        opacity:0%;
    }

    @keyframes enter-hero1 {
        0%{
            transform: translateX(-10%);
        }

        100%{
            opacity: 100%;
            transform: translateX(0%);
        }
        
    }

}





.login
{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: space-around;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 0px 2% 2% 2%;
    box-shadow: 5px 10px #888888a9;
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); 
    border: 3px black;
    border-radius: 16px;
    width: 40vw;
    height:55vh;
    min-width: 300px;
    margin-bottom: 20px;

    h3{
        text-align: center;
    }
    opacity: 0;
    animation: login-opacity 2s forwards;
}

@keyframes login-opacity {
    0%{
        transform: translateX(2%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0%);
    }
    
}

.flex-div-column{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    height: 100%;

    input{
        margin-top:20px;
        width:90%;
        height:9%;
        border-radius: 4px;
        outline:none;
    }

    button{
        margin-top:20px;
    }
}


.align-left 
{
    width:40vw;
    height:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

.text-on-right{
    background-color: #f19f4d;
    width: 25vw;
    height: 40vh;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
    border-radius: 16px;

    p{
        color:white;
        font-size: 1.5vw;
        text-align: center;

    }
}

.align-center{
    text-align: center;
    color: green;
}


.notifications{
    width:auto;
    height: 6vh;
    background-color: #f0f0f0;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top:30px;
    border-radius: 16px;
    margin-bottom: 20px;

}

.sections{
    width:auto;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.logged-in-as-wrapper{
    width:100%;
    display:flex;
    flex-direction: column;
    position: absolute;
    top:15%;
    left:0%;
    padding: 0 2% 0 2%;
}

.logged-in-as {
    width: 100%;
    display:flex;
    flex-direction: row;
    height: auto;

    h3{
        font-size: 12px;
        margin-right:10px;
        color:black;
    }

    button {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 11px;
        width: auto;
        border-radius: 9px;
        padding:0 3px 0 3px;
        margin-top: -5px;
        cursor: pointer;
    }
}

.clockComponent{
    padding-left:1%;
    padding-right:1%;
    border-radius: 16px;
    width:auto;

    h3{
        font-size: 14px;
        color:white;
    }

}

.friendbar{
    padding: 0 1.5% 0% 1.5%;
    background: linear-gradient(107deg, rgba(255,255,255,1) 0%, rgba(243,228,250,1) 100%, rgba(0,212,255,1) 100%);
    width:20vw;
    height:auto;
    border-radius: 16px 0 0 0;
    margin:0px 0px 0px 15px;
    height:50vh;
    min-width:175px;
    max-width:300px;
}

.friendbar-div{
    height:100%;
}

.friendonline{
    background-color: white;
    color:#333;
    padding-left:10px;
    border-radius: 16px;
    font-size: 80%;
    margin:0;
}

.innerfriendonline{
    background-color: white;
    padding-top: 1%;
    border-radius: 16px;
    margin-top: 7px;
    color:#333;
    
    li{
        font-size: 80%;
    }
}


  .register{
      @extend .login;
  }

  .register-button{
     justify-self:flex-end;
  }

  .friendonline-wrapper{
      display:flex;
      width:100%;
      height:10%;
      background-color: white;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      border-radius:10px;

      button{
          background-color: transparent;
          border: transparent;
      }
  }

  .indifriendwrapper{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height:15%;

    &:hover{
        cursor:pointer;
    }

    p{
        font-size: 10px;
        margin:0px;
    }
  }

  .dots1{
    max-width:17%;
}

  .refresh1{
      height: 100%;
  }

  .refresh{
      max-height:40%;
  }


  .in-room{
    font-size: 12px;
    margin-right:10px;
    color:black;
  }

  .roomNumber{
      input{
          height:20px;
          width: 110px;
          font-size:13px;
      }
  }

  .xtra-small-button{
      height:20px;
      width:60px;
      font-size:12px;
      padding:0;
      margin:0px;
  }

  .messageStyle{
      max-width:50%;
      border-radius: 12px;
      font-size:12px;
      font-family: 'roboto';
  }


  .systemStyle{
    font-size:12px;
    color:grey;
    background: linear-gradient(to left, #ece9e6, #ffffff);
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .ownStyle{
      display:flex;
      justify-content:flex-end;
      margin-bottom:5px;

   p{
    @extend .messageStyle;
    background-color: rgb(221, 245, 172);
    padding: 0.5rem 1rem;
    color:black;
    margin:0px;
    overflow-wrap:break-word;
    word-wrap: break-word;
    hyphens: auto;
   }
  }

  .userStyle{
    display:flex;
    justify-content:flex-start;

  }

  .nameplustext{
      display:flex;
      flex-direction: column;
      background: linear-gradient(to left, #ece9e6, #ffffff);
      border-radius: 12px;
      max-width: 50%;
      padding:0 0.5rem;
      margin-bottom: 5px;
      font-family: 'sans-serif';
    
      &:hover{
      //doing effect
      animation: recievemsg 0.8s ease-in-out forwards;
      }

      h6{
          font-size:12px;
          line-height: 4px;
          padding-top: 0.5rem;
          text-align: left;
          color:rgb(230, 122, 140);
      }

      p{
        padding: 0rem 0.9rem 0.6rem 0.5rem;
        color:black;
        font-size:12px;
        margin: 0;
        max-width:100%;
        align-self:flex-start;
        text-align:left;
        background: transparent;
        overflow-wrap:break-word;
        word-wrap: break-word;
        hyphens: auto;
      }
  }

  @keyframes recievemsg {

      50%{
          transform:translateX(4%);
      }

      100%{
          transform:translateX(0);
      }
      
  }

  .xtra-small-button2{
    height:20px;
    width:45px;
    padding:0%;
    margin:0;
    font-size: 4px;
  }

  .onlineStatus{
      font-size:12px;
  }

  .online{
      @extend .onlineStatus;
      color:green;
  }

  .offline{
      @extend .onlineStatus;
      color: red;
  }

  .friend-username{
      @extend .onlineStatus;
      display:flex;
      justify-content: space-between;


  }

  .joinRoom{
      font-size:12px;
      padding:0;
  }


  .in-room-wrapper{
      display:flex;

      p{
        font-size:12px;
        margin:0;
      }
  }

  .addfriend{
      color:grey;
      font-size:9px;
      top:180px;
      left:750px;
      border:0;
      background-color: transparent;
  }

  .sendRequest{
      width:60%;
      margin:5px 0 0 0;
      font-size: 10px;
  }

  .sendrequest-wrapper{
      display: flex;
      flex-direction: column;

      form{
          input{
              width:100%;
              font-size: 12px;
          }
      }
  }

  .navlink-style{
      font-size:12px;
  }

  .navbar{
      animation: navbar-opacity 2s ease-in forwards;
      opacity:0%;
  }

  @keyframes navbar-opacity {
      100%{
          opacity: 100%;
      }
      
  }

  .github{
      text-decoration: none;
      color:black;
      animation: github-ani 3s infinite forwards;
      &:hover{
          text-decoration:none;
      }
  }

  @keyframes github-ani {
      20%{
          color:red;
      }
      40%{
          color:yellowgreen;
      }
      60%{
          color:green;
      }
      80%{
          color:rgb(16, 223, 178);
      }
      100%{
          color:blueviolet;
      }
      
  }

  .unfriend-button{
      font-size:10px;
      border: 0;
      background-color: transparent;
      color:rgb(238, 59, 59);
      margin:0;
  }

  .accept-decline-button{
      width:47%;
      font-size:10px;
      padding:0;
      margin-left:2px;
  }

  .changeroom{
      border-radius: 8px;
      border-color: orange;
  }

  #K{
      fill:black;
  }
  #Chat{
      fill:black;
  }

  #triangle{
     fill: #CF7BD7;
     fill-opacity: 0.66;
  }


  #theLogo:hover{
      #Chat{
        animation: shift-words  ease-in-out 1.5s forwards;
      }
      

      #triangle{
        animation: shift-triangle   1.5s 0.2s forwards;
      }
      
  }

  @keyframes shift-words {
      25%{
        fill:rgb(185, 183, 183);
      }

      50%{
          transform: translateX(7%);
          fill:rgb(95, 137, 177);
      }

      100%{
          transform: translateX(0%);
          fill:black;
      }
      
  }

  @keyframes shift-triangle {

    50%{
        transform: translateX(7%);
        fill:rgb(185, 183, 183);
    }

    75%{
        fill:rgb(95, 137, 177);
    }

    100%{
        transform: translateX(0%);
        fill: #CF7BD7;
    }
    
}



