//Override
//$body-bg: #f0f0f0;
$font-family: "poppins";

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin:0;
    overflow-x:hidden;
    background-color:#f0f0f0 ;
    font-family: 'poppins';
    font-weight: 400;
    height:100%;
  }

  html{
      height:100%;
      font-size: 16px;
  }

.responsive-section-row {
    width:100%;
    margin:0;
    height:80.5vh;
    display:flex;
    margin-top: 0.3rem;
    flex-direction: row;
    justify-content:center;

}

.responsive-section-col {
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}



.responsive-p{
    li{
        font-size: 1.3vw;
    }
}



#intro{
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items:center;
    flex-direction: row;
    width:100vw;
    background-color: #f19f4d;
    margin-bottom: 2%;

    h1{
        color:white;
        border-radius: 12px;
        font-size: 2vw;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

#inputbox {
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem;
    outline:none;
}
#input:focus { 
    outline: none;
 }

#form {
    background: rgba(0,0,0,0.15);
    padding: 0.25rem;
    display: flex;
    height:3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    outline:none;
    font-size: 0.7rem;
    position: absolute;
    width:60%;
    bottom:0;
    

    button{
        background: #333; 
        border: none; 
        padding: 0 1rem; 
        margin: 0.25rem; 
        border-radius: 3px; 
        outline: none; 
        color: #fff; 
    }
}

#messages { 
    padding: 0.5rem 1rem;  
    background: linear-gradient(to left, #ece9e6, #ffffff); 
}

.sections2{
    width:auto;
    display:flex;
    height:100%;
    margin:0;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

#chatArea{
    background: linear-gradient(107deg, rgba(255,255,255,1) 0%, rgba(243,228,250,1) 100%, rgba(0,212,255,1) 100%);
    width: 60vw;
    height:100%;
    overflow:scroll;
    border-top: 1px solid rgba(128, 128, 128, 0.363);
}

.hero1{
    display:flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    padding:1% 2% 0 2%;
    background-color: rgb(179, 224, 226);

    div{
        width:50%;
    }
}

.wrapping-header{
    width:50%;
    h1{
        font-size:3rem;
    }

    .kchatapphead{
        font-size:5rem;
        font-weight: bolder;
        animation: enter-hero1 1.5s ease-in-out forwards;
        opacity:0%;
    }

    .tryyoutext{
        animation:enter-hero1 1.5s ease-in-out forwards;
        opacity:0%;
    }

    @keyframes enter-hero1 {
        0%{
            transform: translateX(-10%);
        }

        100%{
            opacity: 100%;
            transform: translateX(0%);
        }
        
    }

}





.login
{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: space-around;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 0px 2% 2% 2%;
    box-shadow: 5px 10px #888888a9;
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); 
    border: 3px black;
    border-radius: 16px;
    width: 40vw;
    height:55vh;
    min-width: 300px;
    margin-bottom: 20px;

    h3{
        text-align: center;
    }
    opacity: 0;
    animation: login-opacity 2s forwards;
}

@keyframes login-opacity {
    0%{
        transform: translateX(2%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0%);
    }
    
}

.flex-div-column{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    height: 100%;

    input{
        margin-top:20px;
        width:90%;
        height:9%;
        border-radius: 4px;
        outline:none;
    }

    button{
        margin-top:20px;
    }
}


.align-left 
{
    width:40vw;
    height:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

.text-on-right{
    background-color: #f19f4d;
    width: 25vw;
    height: 40vh;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
    border-radius: 16px;

    p{
        color:white;
        font-size: 1.5vw;
        text-align: center;

    }
}

.align-center{
    text-align: center;
    color: green;
}


.notifications{
    width:auto;
    height: 100%;
    background-color: transparent;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top:1.5rem;
    border-radius: 16px;
    position: absolute;
    z-index: 1000;
    bottom:14rem;

}

.sections{
    width:auto;
    display:flex;
    height:0%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.logged-in-as-wrapper{
    width:100%;
    padding-right: 0.7rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:white;
}

.totalsectionstyle{
    height:100%;
    border-top: 1px solid rgb(177, 177, 177);

}

.logged-in-as {
    width: 100%;
    display:flex;
    flex-direction: column;
    height: auto;
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: 0.4rem;

    .in-room{
        font-size: 0.8rem;
        margin-right:10px;
        color:black;
      }

    h3{
        margin-right:10px;
        color:rgb(200, 106, 200);
        margin:0;
    }

    button {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 11px;
        width: auto;
        border-radius: 9px;
        padding:0 3px 0 3px;
        margin-top: -5px;
        cursor: pointer;
    }

    .gear{
        width: 2px;
        height:2px;
    }
}

.clockComponent{
    padding-left:1%;
    padding-right:1%;
    border-radius: 16px;
    width:auto;

    h3{
        font-size: 14px;
        color:white;
    }

}

.friendbar{
    background: linear-gradient(107deg, rgba(255,255,255,1) 0%, rgba(243,228,250,1) 100%, rgb(0, 213, 255) 80%);
    width:20vw;
    height:100%;
    min-width:175px;
    max-width:300px;
    border-right: 1px solid rgba(128, 128, 128, 0.363);
    border-top: 1px solid rgba(128, 128, 128, 0.363);
    border-left: 1px solid rgba(128, 128, 128, 0.363);
}

.friendbar-div{
    height:100%;
}

.friendonline{
    background-color: white;
    color:rgb(155, 149, 149);
    padding-left:10px;
    border-radius: 16px;
    font-size: 1rem;
    margin:0;
}

.innerfriendonline{
    width:100%;
    color:rgb(68, 67, 67); 

}


  .register{
      @extend .login;
  }

  .register-button{
     justify-self:flex-end;
  }

  .friendonline-wrapper{
      display:flex;
      width:100%;
      height:10%;
      background-color: white;
      justify-content: space-around;
      align-content: center;
      align-items: center;

      button{
          background-color: transparent;
          border: transparent;
      }
  }

  .indifriendwrapper{
    display:flex;
    width:100%;
    padding-left: 1rem;
    height:3rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.315);
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
    
    background-color:rgb(255, 255, 255);

    &:hover{
        cursor:pointer;
    }

    p{
        font-size: 0.7rem;
        margin:0px;
    }
  }

  .dots1{
    max-width:17%;
}

  .refresh1{
      height: 50%;
  }

  .refresh{
      max-height:40%;
  }
  .changeRoomDiv{
      width: 100%;
      display:flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
  }

  .roomNumber{
      input{
          font-size:13px;
          text-align: center;
          border-style:none;
          border-top: 1px solid rgba(128, 128, 128, 0.438);
          border-bottom: 1px solid rgba(128, 128, 128, 0.438);
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;
          height: 2rem;

          &:focus{
            border-top: 2px solid rgba(128, 128, 128, 0.815);
            border-bottom: 2px solid rgba(128, 128, 128, 0.815);
          }
      }
  }

  .xtra-small-button{
      font-size:12px;
      padding:0 0.3rem 0 0.3rem;
      border-style:none;
      margin:0px;
      background-color: transparent;
      border: 1px;
      border-style: solid;
      border-color: rgba(128, 128, 128, 0.5);
      color: rgba(128, 128, 128, 0.863);

      &:hover{
          color:white;
          background-color: rgba(128, 128, 128, 0.5);
      }
      
  }

  .messageStyle{
      max-width:50%;
      border-radius: 12px;
      font-size:12px;
      font-family: 'roboto';
  }


  .systemStyle{
    font-size:12px;
    color:grey;
    background: linear-gradient(to left, #ece9e6, #ffffff);
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .ownStyle{
      display:flex;
      justify-content:flex-end;
      margin-bottom:5px;

   p{
    @extend .messageStyle;
    background-color: rgb(221, 245, 172);
    padding: 0.5rem 1rem;
    color:black;
    margin:0px;
    overflow-wrap:break-word;
    word-wrap: break-word;
    hyphens: auto;
   }
  }

  .userStyle{
    display:flex;
    justify-content:flex-start;

  }

  .nameplustext{
      display:flex;
      flex-direction: column;
      background: linear-gradient(to left, #ece9e6, #ffffff);
      border-radius: 12px;
      max-width: 50%;
      padding:0 0.5rem;
      margin-bottom: 5px;
      font-family: 'sans-serif';
    
      &:hover{
      //doing effect
      animation: recievemsg 0.8s ease-in-out forwards;
      }

      h6{
          font-size:12px;
          line-height: 4px;
          padding-top: 0.5rem;
          text-align: left;
          color:rgb(230, 122, 140);
      }

      p{
        padding: 0rem 0.9rem 0.6rem 0.5rem;
        color:black;
        font-size:12px;
        margin: 0;
        max-width:100%;
        align-self:flex-start;
        text-align:left;
        background: transparent;
        overflow-wrap:break-word;
        word-wrap: break-word;
        hyphens: auto;
      }
  }

  @keyframes recievemsg {

      50%{
          transform:translateX(4%);
      }

      100%{
          transform:translateX(0);
      }
      
  }

  .xtra-small-button2{
    height:20px;
    width:45px;
    padding:0%;
    margin:0;
    font-size: 4px;
  }

  .onlineStatus{
      font-size:0.8rem;
  }

  .online{
      @extend .onlineStatus;
      color:green;
  }

  .offline{
      @extend .onlineStatus;
      color: red;
  }

  .friend-username{
      font-size: 1rem;
      text-align: center;
      color: rgba(125, 98, 245, 0.863);
  }

  .sendfriendrequest{
      @extend .friend-username;
      color:rgba(128, 128, 128, 0.699);
  }

  .joinRoom{
      font-size:0.8rem;
      border-style: none;
      background-color: transparent;
      color:blue;
      margin-left:0.3rem;
      padding:0;
  }


  .in-room-wrapper{
      display:flex;

      p{
        font-size:12px;
        margin:0;
      }
  }

  .addfriend{
      color:rgb(0, 139, 0);
      font-size:0.6rem;
      top:180px;
      left:750px;
      border:0;
      background-color: transparent;
  }

  .sendRequest{
      @extend .xtra-small-button;
  }

  .sendrequest-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      form{
          input{
            font-size:13px;
            text-align: center;
            border-style:none;
            border-top: 1px solid rgba(128, 128, 128, 0.438);
            border-bottom: 1px solid rgba(128, 128, 128, 0.438);
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
            height: 2rem;
          }
      }
  }

  .navlink-style{
      font-size:12px;
  }

  .navbar{
      animation: navbar-opacity 2s ease-in forwards;
      opacity:0%;
      margin-bottom: 1rem;
  }

  @keyframes navbar-opacity {
      100%{
          opacity: 100%;
      }
      
  }

  .github{
      text-decoration: none;
      color:black;
      animation: github-ani 3s infinite forwards;
      &:hover{
          text-decoration:none;
      }
  }

  @keyframes github-ani {
      20%{
          color:red;
      }
      40%{
          color:yellowgreen;
      }
      60%{
          color:green;
      }
      80%{
          color:rgb(16, 223, 178);
      }
      100%{
          color:blueviolet;
      }
      
  }

  .unfriend-button{
      font-size:0.6rem;
      border: 0;
      background-color: transparent;
      color:rgba(163, 163, 163, 0.589);
      margin:0;

      &:hover{
          color:red;
      }
  }

  .accept-button{
      width:47%;
      font-size:0.6rem;
      padding:0;
      margin-left:2px;
      border-style: none;
      border-top: 1px solid rgba(128, 128, 128, 0.664);
      border-bottom: 1px solid rgba(128, 128, 128, 0.664);
      background-color: transparent;

      &:hover{
          background-color: green;
      }
  }

  .decline-button{
      @extend .accept-button;

      &:hover{
          background-color: red;

      }
  }


  #K{
      fill:black;
  }
  #Chat{
      fill:black;
  }

  #triangle{
     fill: #CF7BD7;
     fill-opacity: 0.66;
  }


  #theLogo:hover{
      #Chat{
        animation: shift-words  ease-in-out 1.5s forwards;
      }
      

      #triangle{
        animation: shift-triangle   1.5s 0.2s forwards;
      }
      
  }

  @keyframes shift-words {
      25%{
        fill:rgb(185, 183, 183);
      }

      50%{
          transform: translateX(7%);
          fill:rgb(95, 137, 177);
      }

      100%{
          transform: translateX(0%);
          fill:black;
      }
      
  }

  @keyframes shift-triangle {

    50%{
        transform: translateX(7%);
        fill:rgb(185, 183, 183);
    }

    75%{
        fill:rgb(95, 137, 177);
    }

    100%{
        transform: translateX(0%);
        fill: #CF7BD7;
    }
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    width:100vw;
    padding: 1rem 0.2rem 0.2rem 1rem;
    height:18vh;
    position: fixed;
    bottom:0;
    animation: footer-load 3s forwards;

    p{
        color: grey;
        text-align: center;
        font-size: 0.6rem;
        width:70%;
    }
}

@keyframes footer-load {
    0%{
        opacity: 0%;
        transform: translateY(30%);
    }

    100%{
        opacity: 100%;
        transform:translateY(0%);
    }
}

.mainarea{
    height:100%;
}

.settings{
    border-color: transparent;
    border-style: none;
    color:rgba(128, 128, 128, 0.808);
    background-color: transparent;
    border-left: 1px solid rgba(128, 128, 128, 0.226);
    border-right: 1px solid rgba(128, 128, 128, 0.226);
    margin:0;
    padding: 0 0.2rem 0 0.2rem;
}
.settings-wrapper{
    height:100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.logout-button{
    @extend .settings;
    width:100%;
    font-size: 0.8rem;
    margin-bottom: 0.6rem;

    &:hover{
        background-color: grey;
        color:white;
    }
}

.logout-button2{
    @extend .logout-button;
    &:hover{
        background-color:#ff1515;
        color:white;
    }


}


#Star {
    &:hover{
        cursor: pointer;
        fill:rgb(233, 174, 80);
    }
    fill:rgb(236, 236, 70);
    -webkit-animation: rotation 4s infinite linear;
    -moz-animation: rotation 4s infinite linear;
    -o-animation: rotation 4s infinite linear;
    animation: rotation 4s infinite linear;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to   {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to   {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

.mainname{
    color:cadetblue;
}

.bgVideo{
    position: absolute;
    width:100%;
    height:90%;
    z-index: -10000;
    object-fit: cover;
}




